<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Warteschlange</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title size="small">Patienten Informationen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>{{ ["UKG_02301", "UKG_05672"][patient.id] }}</h2>
  <p>
    <strong>Alter:</strong> {{patient.age}}<br />
    <strong>Arbeitsplatz Branche:</strong> {{ {"medical": "Medizin", "police": "Polizei", "school": "Bildung", "retail": "Einzelhandel", "other": "Anders"}[patient.workplace]}}<br />
    <strong>Wohnsituation:</strong> {{ {"alone": "Alleine", "community": "Wohngemeinschaft"}[patient.living_situation] }}
  </p>
  <strong>Risikofaktoren:</strong>
  <ul>
    <li *ngFor="let criterion of patient.criterion_names; let i = index">
      {{criterion}}
    </li>
  </ul>

  <ion-button color="success" [routerLink]="['/', 'testcenter', 'queue']">
    <ion-icon slot="start" name="checkmark-outline"></ion-icon>
    Getested
  </ion-button>
  <ion-button color="danger" [routerLink]="['/', 'testcenter', 'queue']">
    Abgelehnt
    <ion-icon slot="end" name="close-outline"></ion-icon>
  </ion-button>

</ion-content>
