<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nachricht senden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-textarea rows="8" cols="20" placeholder="Nachricht hier eintippen..."></ion-textarea>
  <ion-button (click)="presentToast()" [routerLink]="['/', 'testcenter', 'queue']">
    <ion-icon slot="start" name="send-outline"></ion-icon>
    Absenden
  </ion-button>
</ion-content>
