<ion-header>
  <ion-toolbar>
    <ion-title>Warteschlange</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false">
  <ion-list>
    <ion-item *ngFor="let appointment of appointments; let i = index">
      <ion-button slot="start" color="success" (click)="checkIn(i)">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
      <ion-label [routerLink]="['/', 'testcenter', 'queue', 'patient']" [queryParams]="{ id: appointment?.patient_id}">
        <h2>{{ appointment?.waiting_number }}</h2>
        <h3>{{ appointment?.appointment_time | date: 'short' }}</h3>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="cancel(i)">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="dark-bg ion-padding">
  <h2 class="title ion-text-center">Kontakt zu Wartenden</h2>
  <ion-button color="light" size="small">
    Nachricht senden
  </ion-button>
  <ion-button color="light" size="small">
    Informationen für Wartende
  </ion-button>
</ion-footer>
