<ion-header>
  <ion-toolbar>
    <ion-title>COVID Q</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Testzentrum registrieren</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide">

        <p>Helfen Sie uns weiter Testzentren in unsere Kartei aufzunehmen.</p>
        <p>Hier können Sie uns auf weitere Zentren aufmerksam machen. Wir treten dann in Kontakt mit dem Zentrum.</p>
        <p>Wir freuen uns über Ihren Tipp!</p>
        <ion-button class="nextButton" (click)="next()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>

      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">

        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input [(ngModel)]="testcenter.name" type="string"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Straße + Hausnummer</ion-label>
          <ion-input [(ngModel)]="testcenter.street" type="string"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Postleitzahl</ion-label>
          <ion-input [(ngModel)]="testcenter.zip_code" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Stadt</ion-label>
          <ion-input [(ngModel)]="testcenter.city" type="string"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Öffnungszeiten Beginn</ion-label>
          <ion-input [(ngModel)]="openingHours[0].opens_at" type="string"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Öffnungszeiten Ende</ion-label>
          <ion-input [(ngModel)]="openingHours[0].closes_at" type="string"></ion-input>
        </ion-item>

        <ion-button [disabled]="!isNextButtonActive('testcenter')" class="nextButton" (click)="next()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>

      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <p>
          Bitte geben Sie uns Ihre Email Adresse, damit wir Uns bei eventuellen Fragen, bei Ihnen melden können.
        </p>

        <ion-item>
          <ion-label position="floating">Telefonnummer</ion-label>
          <ion-input [(ngModel)]="contactDatum.phone" type="string"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">E-Mail Adresse</ion-label>
          <ion-input [(ngModel)]="contactDatum.email" type="email"></ion-input>
        </ion-item>

        <ion-button class="ion-margin" [disabled]="!isNextButtonActive('contact_datum')" (click)="saveTestcenter()">Abschicken</ion-button>

      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">

        <h1 class="hero-emoji">🎉</h1>
        <h2>Vielen Dank!</h2>
        <p>Wir haben Ihren Tipp aufgenommen und werden ihn schnellstmöglich überprüfen. Bei Fragen melden wir uns bei Ihnen.</p>
        <ion-button class="ion-margin" (click)="resetFormAndReturn()" [routerLink]="['/']">Fertig</ion-button>

      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
