.row {
  padding: 25px;
  text-align: center;
}

.covid {
  background-color: #7b8898ff;
}

.infected {
  background-color: #faf8f3ff;
}

.testcenter {
  background-color: #f4e6d4ff;
}

.employee {
  background-color: #5b6275;
}

.infectedButton {
  color: #5b6275;
}

.grayText {
  color: #5b6275;
}

.whiteText {
  color: #f5f6f9;
}

.mediumWeight {
  font-weight: 600;
}
