<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COVID Q - Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">COVID Q</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Willkommen bei COVID Q</strong>
    <ion-button expand="block" [routerLink]="['/questionnaire']">Block Button</ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
