<ion-header>
  <ion-toolbar>
    <ion-title>patient-overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="friends">
      <ion-label>Friends</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Enemies</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-button expand="block" *ngIf="activeSegment === 'friends'" [routerLink]="['/', 'patient','queue-confirmation']">Friends Button</ion-button>
  <ion-button expand="block" *ngIf="activeSegment === 'enemies'" [routerLink]="['/', 'patient','queue-confirmation']">Enemy Button</ion-button>
</ion-content>
