<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dein Termin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dein Termin</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid fixed>
      <ion-card *ngIf="appointment">
        <img src="https://image.freepik.com/free-vector/flat-people-forming-line_23-2147679939.jpg" style="height: 250px; width: 100%; object-fit: cover"/>
        <ion-card-header>
          <ion-card-subtitle>Ihre Wartenummer</ion-card-subtitle>
          <ion-card-title>{{ appointment?.waiting_number }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                Voraussichtliche Wartezeit: <br>
                <strong>{{ getCountdownInMs() }}</strong>
              </ion-col>
              <ion-col>
                Voraussichtlicher Termin: <br>
                <strong>{{ appointment?.appointment_time | date: 'short' }}</strong>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-button expand="block" [routerLink]="['/', 'patient', 'testcenter-infos']">Wichtige Informationen</ion-button>
          <ion-button expand="block" (click)="moveAppointment()">Verspätung eintragen</ion-button>
          <ion-button expand="block" (click)="cancelAppointment()">Termin absagen</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </div>

</ion-content>
