<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dein Termin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dein Termin</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img src="https://image.freepik.com/free-vector/flat-people-forming-line_23-2147679939.jpg" style="height: 250px; width: 100%; object-fit: cover"/>
      <ion-card-header>
        <ion-card-subtitle>Ihre Wartenummer</ion-card-subtitle>
        <ion-card-title>{{ appointment.waitingNumber }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                Voraussichtliche Wartezeit: {{ getCountdownInMs() }}
              </div>
            </ion-col>
            <ion-col>
              <div>
                Voraussichtlicher Termin: {{ appointment.appointmentTime | date }}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button expand="block" [routerLink]="['/', 'patient', 'testcenter-infos']">Wichtige Informationen</ion-button>
        <ion-button expand="block" [routerLink]="['/', 'patient', 'change-appointment']">Termin Ändern</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
