<ion-content class="ion-padding">
    <p>
        Sie stehen Schlange für Ihren COVID-19 Test im <br>

        <strong>{{ testcenter?.name || "Uni Göttingen Süd Testcenter" }}</strong><br>
    </p>
    <p>
        Wir werden Sie 2 Stunden vor Ihrem Termin benachrichtigen.
    </p>

    <p>
        Auf der folgenden Seite finden Sie
    </p>

    <ul>
        <li>
            <strong>Ihre Wartenummer</strong>: Bitte notieren Sie diese und melden Sie sich damit in Ihrem Testzentrum
        </li>
        <li>
            <strong>Informationen des Testzentrums</strong>: Bitte nehmen Sie sich Zeit diese sorgfältig zu lesen
        </li>
    </ul>

    <p>Falls Sie sich entschließen Ihre Position in der Warteschlange abzugeben, sagen Sie uns bitte zeitnah Bescheid.</p>
    <p>
        Bitte beachten Sie, dass Informationen nicht bindend sind und sich auch kurzfristig aufgrund von Notfällen
        ändern können. Aufgrund der aktuellen Situation ist mit Verzögerungen zu rechnen.
    </p>


    <ion-button (click)="confirmAppointment()" expand="block">Weiter</ion-button>
</ion-content>

<ion-header>
    <ion-toolbar>
        <ion-title>Termin bestätigen</ion-title>
    </ion-toolbar>
</ion-header>
